Repository Coveros/codeveros, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, workflow, charts, services, auth-service, gateway, training-service, ui, user-service

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo: ./*

# Add 'workflow' label to any github action file changes
workflow: .github/**/*

# Add 'charts' to any changes within 'charts' folder or any subfolders
charts: charts/**/*

# Add 'services' to any change within 'services' folder or any subfolders
services: services/**/*

# Add service specific label to distinguish which services have changed
auth-service: services/auth-service/**/*
gateway: services/gateway/**/*
training-service: services/training-service/**/*
ui: services/ui/**/*
user-service: services/user-service/**/*

Create ui.yml
  .github/workflows/ui.yml
Labels: workflow

Update ui.yml
  .github/workflows/ui.yml
Labels: workflow

Update test-charts.yml
  .github/workflows/test-charts.yml
Labels: workflow

[ui/angular] Update to Angular 12
  services/ui/angular/.browserslistrc
  services/ui/angular/angular.json
  services/ui/angular/e2e/tsconfig.json
  services/ui/angular/package-lock.json
  services/ui/angular/package.json
  services/ui/angular/src/main.ts
  services/ui/angular/tsconfig.json
  services/ui/angular/tslint.json
Labels: services, ui

update service ci workflows
  .github/workflows/auth-service.yml
  .github/workflows/gateway.yml
  .github/workflows/training-service.yml
  .github/workflows/ui.yml
  .github/workflows/user-service.yml
Labels: workflow

Update service ci workflows (#34)
  .github/workflows/auth-service.yml
  .github/workflows/gateway.yml
  .github/workflows/training-service.yml
  .github/workflows/ui.yml
  .github/workflows/user-service.yml
Labels: workflow

add Jenkinsfile to node-based user-service
  services/user-service/nodejs/Jenkinsfile
Labels: services, user-service

specify user-service node folder in its Jenkinsfile
  services/user-service/nodejs/Jenkinsfile
Labels: services, user-service

use jenkins library branch to test out monorepo build
  services/user-service/nodejs/Jenkinsfile
Labels: services, user-service

remove dir step in Jenkinsfile
  services/user-service/nodejs/Jenkinsfile
Labels: services, user-service

try specifying absolute paths and include helm chart path
  services/user-service/nodejs/Jenkinsfile
Labels: services, user-service

change user-service absolute paths, those don't work
  services/user-service/nodejs/Jenkinsfile
Labels: services, user-service

use bitnami repo for mongodb chart instead of deprecated stable helm repo
  charts/codeveros-training-service/Chart.yaml
  charts/codeveros-user-service/Chart.yaml
Labels: charts

add functional tests
  tests/functional/pom.xml
  tests/functional/src/test/java/functional/LoginIT.java
  tests/functional/src/test/java/functional/MainPageIT.java
  tests/functional/src/test/java/functional/TrainingIT.java
  tests/functional/src/test/java/functional/UsersIT.java
  tests/functional/src/test/java/objects/Training.java
  tests/functional/src/test/java/objects/User.java
  tests/functional/src/test/java/pom/Login.java
  tests/functional/src/test/java/pom/MainPage.java
  tests/functional/src/test/java/pom/Register.java
  tests/functional/src/test/java/pom/TrainingPage.java
  tests/functional/src/test/java/pom/UsersPage.java
  tests/functional/src/test/resources/selenified.properties
Labels: none

change basePath to servicePath to more accurately describe its usage
  services/user-service/nodejs/Jenkinsfile
Labels: services, user-service

add legacy test files from marketing demo branches of gitlab repos
  tests/legacy_marketing_tests/auth-service/pom.xml
  tests/legacy_marketing_tests/auth-service/test/java/com/coveros/codeveros/Login.java
  tests/legacy_marketing_tests/auth-service/test/java/com/coveros/codeveros/Main.java
  tests/legacy_marketing_tests/auth-service/test/java/com/coveros/codeveros/Register.java
  tests/legacy_marketing_tests/auth-service/test/java/com/coveros/codeveros/Registration.java
  tests/legacy_marketing_tests/auth-service/test/java/com/coveros/codeveros/User.java
  tests/legacy_marketing_tests/gateway/main/java/com/coveros/codeveros/GatewayPomClass.java
  tests/legacy_marketing_tests/gateway/pom.xml
  tests/legacy_marketing_tests/training-service/main/java/com/coveros/codeveros/CatalogServicePomClass.java
  tests/legacy_marketing_tests/training-service/pom.xml
  tests/legacy_marketing_tests/ui/main/java/com/coveros/codeveros/AngularUIPomClass.java
  tests/legacy_marketing_tests/ui/pom.xml
  tests/legacy_marketing_tests/user-service/main/java/com/coveros/codeveros/Register.java
  tests/legacy_marketing_tests/user-service/main/java/com/coveros/codeveros/User.java
  tests/legacy_marketing_tests/user-service/main/java/com/coveros/codeveros/UserResource.java
  tests/legacy_marketing_tests/user-service/pom.xml
Labels: none

add Jenkinsfiles for other four services
  services/auth-service/nodejs/Jenkinsfile
  services/gateway/nodejs/Jenkinsfile
  services/training-service/nodejs/Jenkinsfile
  services/ui/angular/Jenkinsfile
Labels: services, auth-service, gateway, training-service, ui

add tests from deployment repo
  tests/legacy_marketing_tests/from_deployment/configuration.properties
  tests/legacy_marketing_tests/from_deployment/pom.xml
  tests/legacy_marketing_tests/from_deployment/releaseRules.xml
  tests/legacy_marketing_tests/from_deployment/src/main/java/pom/Login.java
  tests/legacy_marketing_tests/from_deployment/src/main/java/pom/Main.java
  tests/legacy_marketing_tests/from_deployment/src/main/java/pom/Register.java
  tests/legacy_marketing_tests/from_deployment/src/main/java/pom/User.java
  tests/legacy_marketing_tests/from_deployment/src/main/java/pom/UserResource.java
  tests/legacy_marketing_tests/from_deployment/src/test/java/Base/ConfigurationReader.java
  tests/legacy_marketing_tests/from_deployment/src/test/java/apiTests/UserAPIFailTestsIT.java
  tests/legacy_marketing_tests/from_deployment/src/test/java/apiTests/UserAPITestsIT.java
  tests/legacy_marketing_tests/from_deployment/src/test/java/functionalTests/LoginIT.java
  tests/legacy_marketing_tests/from_deployment/src/test/java/regressionTests/SampleTestIT.java
Labels: none

revert to deprecated stable branch with updated repo urls
  charts/codeveros-training-service/Chart.yaml
  charts/codeveros-user-service/Chart.yaml
Labels: charts

Correct chart release workflow
  .github/workflows/release-charts.yaml
Labels: workflow

Correct chart release workflow
  .github/workflows/release-charts.yaml
Labels: workflow

add codeveros-ms library to this monorepo
  .github/workflows/codeveros-ms.yml
  .gitignore
  libraries/codeveros-ms/.gitignore
  libraries/codeveros-ms/CHANGELOG.md
  libraries/codeveros-ms/README.md
  libraries/codeveros-ms/__tests__/middleware.spec.ts
  libraries/codeveros-ms/__tests__/utils/get-logger.spec.ts
  libraries/codeveros-ms/package-lock.json
  libraries/codeveros-ms/package.json
  libraries/codeveros-ms/src/connect-to-db.ts
  libraries/codeveros-ms/src/create-service.ts
  libraries/codeveros-ms/src/crud-service/create.ts
  libraries/codeveros-ms/src/crud-service/delete-one.ts
  libraries/codeveros-ms/src/crud-service/find-one.ts
  libraries/codeveros-ms/src/crud-service/find.ts
  libraries/codeveros-ms/src/crud-service/index.ts
  libraries/codeveros-ms/src/crud-service/update.ts
  libraries/codeveros-ms/src/default-controller.ts
  libraries/codeveros-ms/src/index.ts
  libraries/codeveros-ms/src/interfaces/db-models.inteface.ts
  libraries/codeveros-ms/src/interfaces/db-options.interface.ts
  libraries/codeveros-ms/src/interfaces/index.ts
  libraries/codeveros-ms/src/interfaces/route.interface.ts
  libraries/codeveros-ms/src/interfaces/service-options.interface.ts
  libraries/codeveros-ms/src/middleware.ts
  libraries/codeveros-ms/src/orm.ts
  libraries/codeveros-ms/src/utils/get-api-spec.ts
  libraries/codeveros-ms/src/utils/get-logger.ts
  libraries/codeveros-ms/src/utils/get-model.ts
  libraries/codeveros-ms/src/utils/index.ts
  libraries/codeveros-ms/src/utils/load-model.ts
  libraries/codeveros-ms/src/utils/parse-model.ts
  libraries/codeveros-ms/tsconfig.json
  libraries/codeveros-ms/tslint.json
  libraries/codeveros-ms/types/koa-better-router/index.d.ts
Labels: repo, workflow

Add codeveros-ms github workflow
  .github/workflows/codeveros-ms.yml
Labels: workflow

Add codeveros-ms github workflow
  .github/workflows/codeveros-ms.yml
Labels: workflow

correct path specifier
  .github/workflows/codeveros-ms.yml
Labels: workflow

add codeveros-ms library to this monorepo
  .gitignore
  libraries/codeveros-ms/.gitignore
  libraries/codeveros-ms/CHANGELOG.md
  libraries/codeveros-ms/README.md
  libraries/codeveros-ms/__tests__/middleware.spec.ts
  libraries/codeveros-ms/__tests__/utils/get-logger.spec.ts
  libraries/codeveros-ms/package-lock.json
  libraries/codeveros-ms/package.json
  libraries/codeveros-ms/src/connect-to-db.ts
  libraries/codeveros-ms/src/create-service.ts
  libraries/codeveros-ms/src/crud-service/create.ts
  libraries/codeveros-ms/src/crud-service/delete-one.ts
  libraries/codeveros-ms/src/crud-service/find-one.ts
  libraries/codeveros-ms/src/crud-service/find.ts
  libraries/codeveros-ms/src/crud-service/index.ts
  libraries/codeveros-ms/src/crud-service/update.ts
  libraries/codeveros-ms/src/default-controller.ts
  libraries/codeveros-ms/src/index.ts
  libraries/codeveros-ms/src/interfaces/db-models.inteface.ts
  libraries/codeveros-ms/src/interfaces/db-options.interface.ts
  libraries/codeveros-ms/src/interfaces/index.ts
  libraries/codeveros-ms/src/interfaces/route.interface.ts
  libraries/codeveros-ms/src/interfaces/service-options.interface.ts
  libraries/codeveros-ms/src/middleware.ts
  libraries/codeveros-ms/src/orm.ts
  libraries/codeveros-ms/src/utils/get-api-spec.ts
  libraries/codeveros-ms/src/utils/get-logger.ts
  libraries/codeveros-ms/src/utils/get-model.ts
  libraries/codeveros-ms/src/utils/index.ts
  libraries/codeveros-ms/src/utils/load-model.ts
  libraries/codeveros-ms/src/utils/parse-model.ts
  libraries/codeveros-ms/tsconfig.json
  libraries/codeveros-ms/tslint.json
  libraries/codeveros-ms/types/koa-better-router/index.d.ts
Labels: repo

correct path specifier
  .github/workflows/codeveros-ms.yml
Labels: workflow
